.main {
  padding: 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  border: skyblue solid;
}

.author {
  font-weight: bold;
  min-width: 120px;
  border: salmon solid;
}

.message {
  letter-spacing: 0.15em; /* Adjust as needed */
}
